.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	margin: 0 auto;

	display: block;
	width: 1366px;
	height: 768;
	max-width:100%;
	max-height:100%;

	-webkit-filter: blur(13px);
	-moz-filter: blur(13px);
	-o-filter: blur(13px);
	-ms-filter: blur(13px);
	filter: blur(13px);
}


#login_container{
	border:1px solid gray;
	border-radius: 10px;
	opacity: 0.9;
	padding-top: 50px;
	padding-bottom: 50px;
	height:auto;
	width:500px;
	margin:0 auto;
	margin-top:200px;
	background-color:rgba(31,144,102,255);

	-webkit-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
}
#login_container p{
	color:white;
}
p{
	text-align: center;
	margin:0;
}
#title{
	font-size: 50px;
}
.colorWhite{
	color:white;

}
#login{

	margin:0 auto;
}
img{
	height:25px;
	background-color: rgba(225,224,225,255);
	padding:2px;


}
#btn_login,#btn_signup{
	background-color: rgba(13,49,37,255);
	border:none;
	width:287px;
	margin-left:105px;
	
	
}
#login input{
	line-height: 20px;
	font-size: 20px;
	margin-left:-5px;
}

.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-left: 20px;
	margin-right: 20px;
}